@font-face {
    font-family: 'vazir';
    src:url("../font/vazir.eot")format("eot");
    src: url("../font/vazir.woff")format("woff"),
    url("../font/vazir.woff2")format("woff2"),
    url("../font/vazir.ttf")format("truetype"),
    url("../fonts/irsans.eot?#iefix") format("embedded-opentype");
    font-style: normal;
    font-weight: normal;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
body{
    font-family: "vazir";
    margin: 0;
    padding: 0;
    background: #eee;
}
a{
    text-decoration: none!important;
}
ul{
    list-style: none!important;
}
*{
    box-sizing: border-box;
}
input:focus{
    outline: none;
}
/* styles of top header */
#top-header-container{
    background: #101a27;
    height: 50px;
}
#logo{
    margin-right: 27px;
}
#logo h3{
    color: #38a7bb;
}
@media only screen and (max-width: 992px) {
    #logo{
        margin-right: 14px;
    }
}
#topbar-left{
    width: 50%;
    display: inline-block;
    margin: auto;
}
@media only screen and (max-width: 850px) and (min-width: 768) {
    #topbar-left {
        width: 48%;
        margin: auto;
    }
}
@media only screen and (max-width: 600px) {
   #topbar-left{
       width: 60%;
       margin: auto;
   }
}
@media only screen and (max-width: 760px) and (min-width: 601px) {
    #topbar-left{
        width: 68%;
        margin: auto;
    }
}
.fa{
    color: #fff;
}
.fa-icon{
    color: #fff;
    margin-top: 10px;
    font-size: larger;
    padding: 0 4px;
}
.font{
    font-size: 10px;
    font-family: sahel;
}
.search-icon{
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
}
.search-icon::after{
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid white;
    top: 7px;
    left: 6px;
}
.search-icon.active::after{
    border: 0;
    background: #777;
    border-width: 4px 0 0 0;
    width: 20px;
    height: 2px;
    left: 50%;
    transform: translate(-50%,10px)rotate(225deg);
}
.search-icon.active::before{
    border: 0;
    background: #777;
    border-width: 4px 0 0 0;
    width: 20px;
    height: 2px;
    transform: translate(-50%,-6px)rotate(-225deg);
}
.search-icon::before{
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transform: rotate(45deg);
    top: 23px;
    left: 18px;
}
.search-wrapper{
    position: fixed;
    top: 0;
    background: white;
    box-shadow: 0 3px 6px rgba(0,0,0,.275);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    height: 0;
    overflow: hidden;
    transition: all .4s ease-in;
}
.search-wrapper.active{
    height: 50px;
}
.search-wrapper form{
    flex: 1;
    display: flex;
}
.search-icon.active{
    z-index: 99999;
    position: absolute;
    top: 0;
    left: 0;
}
.search-wrapper form input{
    border: 1px solid rgba(0,0,0,.1);
    background-color: rgba(0,0,0,.05);
    height: 50px;
    box-sizing: border-box;
    flex: .823;
}
@media screen and(max-width: 640px){
    .search-wrapper form input{
        flex: 1;
    }
}
.search-wrapper form input:focus{
    outline: none;
}
.search-wrapper form input{
    flex: 1;
    padding: 0 10px;
    border-radius: 0 3px 3px 0;
}

/* end of top header */

/* styles of header */
#header-container{
    background:#dfe6e9;
}
#line{
    color: #777;
    width: 1px;
}
.header-font{
    font-size: 12px;
}
#navbar{
    background: #f5f5f5;
    padding: 0;
}
.navbar-toggler{
    border: 0;
}
.navbar-toggler:focus{
    outline: none;
}
.navbar-dark .navbar-nav .nav-link{
    color:  #38a7bb;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color:  #38a7bb;
}
.navbar-dark .navbar-nav .nav-link:focus{
    color:  #38a7bb;
}
.navbar-nav .nav-item:hover .dropdown-menu{
    display: block;
}
.dropdown-toggle::after{
    content: none;
}
.dropdown-title{
    color: #29a7d5!important;
    font-size: 12px;
}
nav ul li{
    line-height: 2;
    padding: 0 7px;
}
nav ul li a span{
    color: #000;
}
.list-group-menu-font{
    font-size: 12px;
    color: #000;
}
.dropdown-divider{
    border-bottom: 1px solid #ddd !important;
}
.dropdown-menu img{
    position: absolute;
    bottom: 0;
    left: -30px;
}
.list-group-item a:hover{
    color: #d42148!important;
}
.dropdown-menu-color{
    background: #f1f2f6;
    border-bottom: 2px solid #38a7bb;
    border-top: 2px solid #eee;
}
/* end of header */

/* start of first-slider*/
.owl-carousel-0 .item .product-box-footer .add-to-card {
    text-align: center;
    width: 100%;
    height: 25px;
    line-height: 25px;
    float: left;
    background: #38a7bb;
    color: #fff;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: 11px;
}
.badge-off-custom-0{
    line-height: 2;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}
.owl-carousel-0 .owl-dots{
    display: none;
}
.owl-carousel-0 .owl-stage-outer{
    height: 412px;
}
.owl-carousel-0 .owl-nav{
    color:#38a7bb;
}
.owl-carousel-0 .owl-nav:hover{
    color: #38a7bb;
}
.sidebar-text{
    font-size: 12px;
    text-align: center;
    color: #4a5f73;
}
/* styles of services */
.servises{
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.1);
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.servises .fa{
    width: 60px;
    height: 60px;
    float: right;
    margin-left: 10px;
    padding: 15px;
    font-size: 25px;
    background: #fafafa;
    text-align: center;
    color: #616161;
    border-radius: 50%;
    line-height: 30px;
}
.servises .content h6{
    font-size: 14px;
}
.servises .content p{
    color: #9e9e9e;
    font-size: 11px;
}
.servises .content{
    border-bottom: none;
}
/* end of services */
/* end of first-slider*/

/* styles of second-slider */
.badge-ads{
    width: 50%;
    line-height: 2;
    top: 95%;
    right: 17%;
    transform: translate(-17%,-95%);
}
.card-header-custom{
    height: 50px;
    background: #fff;
    border: none;
    border-right: 3px solid #38a7bb;
}
.material-icon-custom{
    font-size: 13px!important;
    color: #4a5f73;
}
.text-ads{
    font-size: 11px;
    color: #195a8e;
}
.price span{
    color: #4a5f73;
}
.slider .card-body .item .card:hover{
    background: rgba(223,242,247);
    transition: all .4s;
}
.slider .card-body img{
    position: relative;
}
.badge-off-custom{
    line-height: 2;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(-20px,-50%);
}
.card-footer .product-box-footer input{
    width: 100%;
    float: right;
    height: 23px;
    padding: 2px;
    border-radius: 0;
    font-size: 11px;
}
.card-footer .product-box-footer .add-to-card {
    text-align: center;
    width: 100%;
    height: 25px;
    line-height: 25px;
    float: left;
    background: #38a7bb;
    color: #fff;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: 11px;
}
.card-footer .price{
    font-size: 13px;
}
.owl-dots{
    display: none;
}
.owl-nav{
    position: relative;
    background: #fff;
}
.owl-nav .owl-prev{
    position: absolute;
    background: transparent;
    bottom: 240px;
    right: 0;
    box-sizing: border-box;
}
.owl-nav button{
    outline: none!important;
    background: #fff!important;
    border: 0!important;
    opacity: .8!important;
}
.owl-nav button:hover{
    color: #000!important;
}
.owl-nav span{
    font-size: 35px;
}
.owl-nav .owl-next{
    position: absolute;
    background: transparent;
    bottom: 240px;
    left: 0;
    box-sizing: border-box;
}
/* end of second-slider */

/* styles of footer */
.footer-container{
    background: #040E18;
}
.footer-container ul li{
    background: #040E18;
}
.text-footer{
    font-size: 13px;
}
.social-media-wrapper{
    border-radius: 200px;
    background-color:#09121B ;
    transition: all .4s;
    position: relative;
    display: flex;
    overflow: hidden;
}
.social-media-wrapper::after,
.social-media-wrapper::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    top: 0;
    width: 50%;
    background-color:#38a7bb;
    transition: all .4s;
}
.social-media-wrapper::before{
    right: 0;
    width: 50%;
}
.social-media-wrapper .text{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 10;
    transition: all .4s;
    font-size: 13px;
}
.social-media-wrapper:hover .text{
    opacity: 0;
    z-index: -10;
}
.social-media-wrapper a{
    color: #fff;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    transition: all .4s;
}
.social-media-wrapper:hover::after{
    transform: translateY(-100%);
}
.social-media-wrapper:hover::before{
    transform: translateY(100%);
}
.social-media-wrapper a:hover{
    background-color: rgba(255,255,255,.1);
}
@media screen and(max-width: 640px) {
    .social-media-wrapper a{
        padding: 10px 7px!important;
    }
}
.sub-footer-text{
    font-size: 13px;
    color: #fff;
}
.bg-footer{
    background: rgba(255,255,255,.7);
}
.sub-footer-bg{
    background: #09121B;
}
/* end of footer */

@media all and (min-width: 575.98) and (max-width: 200px) {
}
@media all and (min-width: 767.98) and (max-width: 576px){

}
@media all and (min-width: 991.99) and (max-width: 768px) {
}
@media all and (min-width: 1199) and (max-width: 992px){

}

@media all and (min-width: 1366) and (max-width: 1200) {

}
/* style of category page */
/* styles of slider */
.carousel-indicators li{
    border-radius: 50%;
    width: 12px;
    height: 12px;
}
/* end of slider */

/* styles of sidebar */
.font-right-banner{
    font-size: 14px;
    background:#38a7bb ;
    color: #fff;
}
.category-searh{
    position: relative;
}
.category-searh input{
    width: 95%;
    height: 35px;
    padding: 0 20px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    outline: none;
}
.category-searh button{
    position: absolute;
    bottom: 3px;
    left: 20px;
    border-radius: 50%;
    transform: rotate(90deg);
    background: transparent;
    border: none;
}
.category-searh button .fa{
    color: #636e72;
}
.title .text{
    font-size: 15px;
    cursor: pointer;
}
.accordion.active .title{
    border-bottom: 1px solid #c8d6e5;
}
.title .icon{
    font-size:x-large;
    cursor: pointer;
    transform: rotate(90deg);
    padding-right: 15px!important;
}
.accordion.active .title .icon{
    transform: rotate(45deg);
}
.scrollbar{
    overflow-y: scroll;
    max-height: 150px;
    transition: all .5s;
}
#scroll-category {
    overflow-y: scroll;
    scrollbar-color: #38a7bb;
    scrollbar-width: thin !important;
}
#scroll-category::-webkit-scrollbar{
    background:#c8d6e5;
    padding-bottom: 10px;
    width: 8px;
    border-radius: 6px;
}
#scroll-category::-webkit-scrollbar-thumb{
    background: #38a7bb ;
    border-radius: 6px;
}
.content{
    border-bottom: 1px solid #d9d9d9;
    opacity: 1;
    transition: all .5s;
}
.accordion-font{
    font-size: 13px;
    color: #000;
}
.accordion.active .content{
    opacity: 0;
    max-height: 0;
    transition: all .5s;
}
.accordion ul li:hover{
    background: #c8d6e5;
}
.accordion.active .scrollbar{
    max-height: 0;
    transition: all .5s;
}
/* end of sidebar */

/* styles of sale-timeout */
#amazing-suggest{
    height: 50px;
    position: absolute;
    top: 0;
    right: -5px;
    background:#38a7bb;
    padding: 15px;
    line-height: 20px;
    color: #fff;
    margin-top: 15px;
    z-index: 10;
}
#amazing-suggest:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -25px;
    transform: skew(-42deg,0deg);
    -webkit-transform:skew(-42deg,0deg) ;
    -moz-transform: skew(-42deg,0deg);
    -o-transform: skew(-42deg,0deg);
    z-index: -1;
    background: inherit;
}
#amazing-suggest:after{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: -5px;
    border-top: 5px solid transparent;
    border-left:5px solid  #418fbc ;
    z-index: -2;
}
#sale-timeout{
    background: #fff;
}
#sale-timeout h3{
    font-size: 22px;
}
#sale-timeout span{
    font-size: 14px;
    display: flex;
    justify-content: center;
    color: #38a7bb;
}
.sale-timeout-content button a{
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: bold;
}
.sale-timeout-content button{
    width: 230px;
    height: 55px;
    line-height: 50px;
    background: #38a7bb;
    margin: 10px 5px;
    border: 1px solid #38a7bb;
}
#sale-timeout .sale-timeout-content .sale-timeout-counter>div{
    width: 70px;
    height: 100px;
    background: url("../images/category-images/timer-bg.jpg");
    float: right;
    line-height: 15px;
    color: #fff;
    display: inline-block;
    padding: 25px 25px;
    margin: 25px 5px;
}
#sale-timeout .sale-timeout-content .sale-timeout-counter div:last-child{
    display: none;
}
/* end of sale-timeout */

/* styles of ads-product-1 */
.ads-product-1 .ads-product-1-item img{
    height: 180px;
}
.ads-product-1-item{
    height: 180px;
    position: relative;
}
.ads-product-1-item:hover img{
    transform: scale(1.02);
    transition: all 400ms;
}
.ads-product-1-item .text{
    text-align: center!important;
    position: absolute;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    background: rgba(56,167,187,.6);
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    color: #195a8e;
}
.ads-product-1-item:hover .text{
    transform: scale(1.02);
    transition: all 400ms;
}
/* end of ads-product-1 */

/* styles of ads-product-2 */
.ads-product-2 .ads-product-2-item img{
    height: 180px;
}
.ads-product-2-item{
    height: 180px;
    position: relative;
}
.ads-product-2-item:hover img{
    transform: scale(1.02);
    transition: all 400ms;
}
.ads-product-2-item .text{
    text-align: center!important;
    position: absolute;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    background:rgba(56,167,187,.6);
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    color: #000;
}
.ads-product-2-item:hover .text{
    transform: scale(1.02);
    transition: all 400ms;
}
/* end of ads-product-2 */

/* styles of ads-product-3 */
.ads-product-3 .ads-product-3-item img{
    height: 180px;
}
.ads-product-3-item{
    height: 180px;
    position: relative;
}
.ads-product-3-item:hover img{
    transform: scale(1.02);
    transition: all 400ms;
}
.ads-product-3-item .text{
    text-align: center!important;
    position: absolute;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    background: rgba(56,167,187,.6);
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    color: #000;
}
.ads-product-3-item:hover .text{
    transform: scale(1.02);
    transition: all 400ms;
}
/* end of ads-product-3 */

/* styles of best-seller */
.title-best-seller{
    position: relative;
}
.title-best-seller h6{
    color:#38a7bb ;
}
.line{
    width: 160px;
    background: #38a7bb;
    height: 1px;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%, -8px);
}
.best-seller{
    box-shadow: 0 0 6px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,.1);
    -o-box-shadow: 0 0 6px rgba(0,0,0,.1);
}
.best-seller .best-seller-item{
    box-shadow: 0 0 6px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,.1);
    -o-box-shadow: 0 0 6px rgba(0,0,0,.1);
    border-right: 1px solid #fafafa;
    border-bottom: 1px solid #fafafa;
}
.best-seller .best-seller-item img{
    width: 90%;
}
.best-seller .best-seller-item .text{
    font-size: 13px;
    color: #000;
}
.best-seller .best-seller-item .text a{
    background:#38a7bb ;
    margin-top: 10px;
}
.best-seller .best-seller-item .text .btn::focus{
    outline: none;
}
.best-seller .best-seller-item .text .price{
    color:#38a7bb;
}
/* pages */
.pages{
    position: relative;
}
.pages .pages-number{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    background: #38a7bb;
}
.pages .pages-number button:hover{
    background: #2980b9;
}
/* end of best-seller */

/* start of sidebar / category_1 */
.accordion .content input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #38a7bb;
    width: 15px;
    height: 15px;
    border-radius: 15px;
}
.accordion .content input[type=range]::-moz-range-thumb{
    -webkit-appearance: none;
    background: #38a7bb;
    width: 15px;
    height: 15px;
    border-radius: 15px;
}
.ios-switch{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ios-switch .switch-body{
    width: 48px;
    border: 1px solid gray;
    background: #ddd;
    border-radius: 20px;
    margin-right: 10px;
}
.ios-switch .switch-body .toggle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    float: left;
    transition: all .4s ease;
    cursor: pointer;
}
.ios-switch.active .switch-body{
    background: #38a7bb;
    transition: all .4s ease;
}
.ios-switch.active .switch-body .toggle{
    transform: translateX(135%);
}
.ios-switch input[type=checkbox]{
    display: none;
}
.ios-switch label{
    font-size: 13px;
    color: #195a8e;
    font-weight: bold;
    margin-right: 10px;
}
/* end of sidebar / category_1 */

/* styles of content of category_1 */
.sort{
    color: #cecece;
    font-size: 28px;
}
.text-sort{
    color: #3b3b3b;
    font-size: 12px;
    line-height: 24px;
}
.nav-pills .nav-item .nav-link{
    display: block;
    padding: 4px 8px;
    position: relative;
    font-size: 13px;
    line-height: 25px;
    vertical-align: middle;
    border-radius: 5px;
    color: #195a8e;
}
.nav-pills .nav-item .nav-link:hover{
    background: #d3d9df;
}
.nav-pills .nav-link.active,.nav-pills .show>.nav-link{
    background: #38a7bb;
    color: #fff;
}
.box-nav-pills{
    box-shadow: 0 0 6px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,.1);
    -o-box-shadow: 0 0 6px rgba(0,0,0,.1);
    border: 1px solid #e4e4e4;
}
.font-price{
    font-size: 13px;
}
.product-box a{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.full-product-box{
    border-right: 1px solid #fafafa;
    border-bottom: 1px solid #fafafa;
}
.full-product-box .product-box p{
    font-size: 12px;
    font-weight: bold;
    padding: 0 5px;
    color: #195a8e;
}
.full-product-box .product-box form .form-group input{
    width: 10%;
}
.full-product-box .product-box .product-box-footer{
    padding: 0 20px;
}

.full-product-box .product-box .product-box-footer .add-to-card{
    width: 100%;
    height: 25px;
    line-height: 25px;
    float: left;
    background: #38a7bb;
    color: #fff;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: 11px;
}
.full-product-box .product-box .product-box-footer form input{
    width: 100%;
    float: right;
    height: 23px;
    padding: 2px;
    border-radius: 0;
    font-size: 11px;
}
.full-product-box .product-box .product-box-footer form input::focus{
    outline: none;
}
.product-box:hover{
    background: rgba(223,242,247);
    transition: all .4s;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance:"Always Show Up/Down Arrows";
    opacity: 1;
}
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}
/* end of content of category_1 */

/* styles of breadcrumb */
.breadcrumb .breadcrumb-item a{
    font-size: 11px;
    color: #195a8e;
}
.breadcrumb .breadcrumb-item.active{
    font-size: 11px;
}
.breadcrumb .divider{
    font-size: 14px;
    color: #ced6e0;
    padding: 5px;
}
nav ol{
    background: transparent;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #195a8e;
}
/* end of breadcrumb */

/* start product */
.detail-product figure img{
    border-bottom: 1px solid #195a8e;
}
.detail-product .title-product{
    font-size: 20px;
    font-weight: bold;
}
.detail-product .score-product{
    display: flex;
    align-items: center;
}
.detail-product .score-product i{
    color: #eee;
    font-size: 20px;
}
.detail-product .text-score{
    font-size: 13px;
}
.detail-product .sub-title-product{
    font-family: sans-serif;
    font-size: 14px;
}
.category-product,.brand-product,.seller,.price-product,.garuntee,.product-id,.related-product{
    font-size: 14px;
    font-weight: bold;
    color: #195a8e;
}
.text-product{
    font-size: 14px;
}
.detail-product .detail-product-footer .add-to-card{
    width: 100%;
    height: 35px;
    line-height: 35px;
    float: left;
    background: #38a7bb;
    color: #fff;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}
.detail-product .detail-product-footer input{
    height: 35px;
}
.related-product{
    border-bottom: 1px solid #195a8e;
}
.related-product-box{
    box-shadow: 0 0 2px rgba(0,0,0,.12);
    border: 1px solid #cddee2;
    padding: 0 20px;
}
.related-product-box .text-product{
    font-size: 12px;
    font-weight: bold;
    color: #195a8e;
    text-align: center;
}
.related-product-box .add-to-card{
    width: 100%;
    height: 25px;
    line-height: 25px;
    float: left;
    background: #38a7bb;
    color: #fff;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: 11px;
    text-align: center;
}
.related-product-box input{
    width: 100%;
    float: right;
    height: 23px;
    padding: 2px;
    border-radius: 0;
    font-size: 11px;
}
.related-product-box .carousel-control-next-icon:after
{
    content: '>';
    height: 50px;
    color: #333;
    position: absolute;
    left: 0;
    font-weight: bold;
    font-size: 25px;
}
.related-product-box .carousel-control-prev-icon:after
{
    content: '<';
    height: 50px;
    color: #333;
    position: absolute;
    right: 0;
    font-weight: bold;
    font-size: 25px;
}
/* end product */
