@font-face {
    font-family: 'vazir';
    src:url("../font/vazir.eot")format("eot");
    src: url("../font/vazir.woff")format("woff"),
    url("../font/vazir.woff2")format("woff2"),
    url("../font/vazir.ttf")format("truetype");
    /*url("../fonts/irsans.eot?#iefix") format("embedded-opentype");*/
    font-style: normal;
    font-weight: normal;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
body{
    font-family: "vazir";
    margin: 0;
    padding: 0;
    background: #eee;
}
.bg{
    background: #bdc3c7;
}
.bg_1{
    background:#dfe6e9;
}
a{
    text-decoration: none!important;
}
button:focus{
    box-shadow: none;
    outline: none;
}
ul{
    list-style: none!important;
}
*{
    box-sizing: border-box;
}
.font-title{
    font-size: 14px;
    color: #195a8e;
}
.font-content{
    font-size: 12px;
    color: #195a8e;
}
input:focus{
    outline: none;
}
.fa{
    color: #fff;
}
.fa-icon{
    color: #fff;
    margin-top: 10px;
    font-size: larger;
    padding: 0 4px;
}
.font{
    font-size: 10px;
    font-family: vazir;
}

/* start of top header */
#top-header{
    background: #101a27;
    width: 98%;
    margin: 0 auto;
    font-size: 11px;
    font-family: vazir;
    height: 45px;
}
#logo h3{
    color: #38a7bb;
}
#shopping-cart{
    margin: 5px;
}
#login-signup{
    margin: 5px;
}
.search-icon{
    width: 40px;
    height: 30px;
    cursor: pointer;
    position: relative;
}
.search-icon::after{
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #eee;
    position: absolute;
    top: 3px;
    left: 5px;
    transition: all .4s;
}
.search-icon::before{
    content: '';
    width: 9px;
    height: 2px;
    background: #eee;
    transform: rotate(45deg);
    position: absolute;
    top: 17px;
    left: 15px;
    transition: all .4s;
}
.search-icon.active::after{
    content: '';
    border-radius: 0;
    width: 17px;
    height: 0px;
    background: #777777;
    transform: rotate(45deg);
    position: absolute;
    top: 12px;
    left: 10px;
}
.search-icon.active::before{
    content: '';
    width: 22px;
    height: 2px;
    background: #777777;
    transform: rotate(-45deg);
    position: absolute;
    top: 14px;
    left: 7px;
}
.search-wrapper{
    width: 100%;
    background: #eee;
    position: fixed;
    top: 0;
    height: 0;
    overflow: hidden;
    transition: all .4s ease-in;
}
.search-wrapper.active{
    height: 45px;
}
.search-wrapper form input{
    font-size: 12px;
}
.search-wrapper form input:focus{
    box-shadow: none;
    outline: 0;
}
.search-icon.active{
    z-index: 99999;
    position: absolute;
    top: 0;
    left: 0;
}
/* end of top header*/

/* styles of main menu */
.navbar-color{
    background:#dfe6e9;
    width: 98%;
    margin: 0 auto;
}
nav ul li .nav-item-font{
    font-size: 12px;
    color: #101a27;
}
nav ul li .nav-item-font:focus{
    background: #7cc5d5;
    color: #fff;
}
nav ul li .nav-item-font:focus::after{
    color: #fff;
}
.custom-dropdown-menu{
    border-top: 2px solid #38a7bb;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
}
nav ul li .dropdown-menu{
    background:#dfe6e9;
    border-radius: 0;
}
nav ul li .dropdown-menu ul li{
    background: transparent;
}
nav ul li .dropdown-menu .sub-dropdown-title{
    font-size: 11px;
    color: #38a7bb;
}
nav ul li .dropdown-menu .sub-dropdown-menu{
    font-size: 10px;
    font-weight: bold;
}
nav ul li .dropdown-menu li{
    line-height: 18px;
}
nav ul li .dropdown-menu i{
    font-size: 12px;
    font-weight: bold;
    vertical-align: -4px;
    color: #38a7bb;
}
.dropdown-toggle::after{
    color:#777;
    vertical-align: 0;
}
nav ul li{
    line-height: 2;
    padding: 0 2px;
}
.list-group-item a:hover{
    color: #d42148!important;
}
/* end of main menu */

/* start of first-slider*/
.progress-bar-color{
    background:#ced6e0;
}
.owl-carousel-0 .item .product-box-footer .add-to-card {
    text-align: center;
    width: 100%;
    height: 25px;
    line-height: 25px;
    float: left;
    background: #38a7bb;
    color: #fff;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: 11px;
    font-weight: bold;
}
.badge-off-custom-0{
    line-height: 2;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}
.owl-carousel-0 .owl-dots{
    display: none;
}
.owl-carousel-0 .owl-stage-outer{
    height: 412px;
}
.owl-carousel-0 .owl-nav{
    position: absolute;
    top: 30%;
    right: 0;
    background: transparent;
}
.owl-carousel-0 .owl-nav .owl-next{
    position: absolute;
    left: -200px;
    top: 0px;
}
.sidebar-text,.text-price{
    font-size: 12px;
    text-align: center;
    color: #4a5f73;
}
/* styles of services */
.servises{
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.1);
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.servises .fa{
    width: 60px;
    height: 60px;
    float: right;
    margin-left: 10px;
    padding: 15px;
    font-size: 25px;
    background: #fafafa;
    text-align: center;
    color: #616161;
    border-radius: 50%;
    line-height: 30px;
}
.servises .content-services h6{
    font-size: 14px!important;
}
.servises .content-services p{
    color: #9e9e9e!important;
    font-size: 11px!important;
}
.servises .content-services{
    border-bottom: none!important;
}
/* end of services */
/* end of first-slider*/

/* styles of second-slider */
.badge-ads{
    width: 50%;
    line-height: 2;
    top: 95%;
    right: 17%;
    transform: translate(-17%,-95%);
}
.card-header-custom{
    height: 50px;
    background: #fff;
    border: none;
    border-right: 3px solid #38a7bb;
}
.material-icon-custom{
    font-size: 13px!important;
    color: #4a5f73;
}
.text-ads{
    font-size: 11px;
    color: #195a8e;
}
.price span{
    color: #4a5f73;
}
.slider .card-body .item .card:hover{
    background: rgba(223,242,247);
    transition: all .4s;
}
.slider .card-body img{
    position: relative;
}
.badge-off-custom{
    line-height: 2;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(-20px,-50%);
}
.card-footer .product-box-footer input{
    width: 100%;
    float: right;
    height: 23px;
    padding: 2px;
    border-radius: 0;
    font-size: 11px;
}
.card-footer .product-box-footer .add-to-card {
    text-align: center;
    width: 100%;
    height: 25px;
    line-height: 25px;
    float: left;
    background: #38a7bb;
    color: #fff;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: 11px;
}
.card-footer .price{
    font-size: 13px;
}
.owl-dots{
    display: none;
}
.owl-nav{
    position: relative;
    background: #fff;
}
.slider .owl-nav span{
    position: absolute;
}
.slider .owl-nav .owl-prev{
    position: absolute;
    background: transparent;
    bottom: 220px;
    right: 0;
    box-sizing: border-box;
}
.owl-nav button{
    outline: none!important;
    background: #fff!important;
    border: 0!important;
    opacity: .8!important;
}
.owl-nav button:hover{
    color: #000!important;
}
.owl-nav span{
    font-size: 35px;
    background: #fff;
}
.owl-nav .owl-next{
    position: absolute;
    background: transparent;
    bottom: 220px;
    left: 10px;
    box-sizing: border-box;
}
/* end of second-slider */

/* styles of footer */
.footer-container{
    background: #040E18;
}
.footer-container ul li{
    background: #040E18;
}
.footer-container input{
    font-size: 12px;
}
.footer-container .input-group-text{
    font-size: 12px;
}
@media screen and (max-width: 590px) {
    .footer-container input{
        font-size: 10px;
    }
    .footer-container .input-group-text{
        font-size: 10px;
    }
}
.text-footer{
    font-size: 13px;
}
.social-media-wrapper{
    border-radius: 200px;
    background-color:#09121B ;
    transition: all .4s;
    position: relative;
    display: flex;
    overflow: hidden;
}
.social-media-wrapper::after,
.social-media-wrapper::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    top: 0;
    width: 50%;
    background-color:#38a7bb;
    transition: all .4s;
}
.social-media-wrapper::before{
    right: 0;
    width: 50%;
}
.social-media-wrapper .text{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 10;
    transition: all .4s;
    font-size: 13px;
}
.social-media-wrapper:hover .text{
    opacity: 0;
    z-index: -10;
}
.social-media-wrapper a{
    color: #fff;
    padding: 10px 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    transition: all .4s;
}
.social-media-wrapper:hover::after{
    transform: translateY(-100%);
}
.social-media-wrapper:hover::before{
    transform: translateY(100%);
}
.social-media-wrapper a:hover{
    background-color: rgba(255,255,255,.1);
}
@media screen and (max-width: 577px)  {
    .social-media-wrapper a{
        padding: 10px 4px;
    }
    .social-media-wrapper .text{
        font-size: 11px;
    }
}
@media screen and (min-width: 844px) and (max-width: 1070px){
    .social-media-wrapper a{
        padding: 10px 4px;
    }
    .social-media-wrapper .text{
        font-size: 11px;
    }
}
    .sub-footer-text{
    font-size: 13px;
    color: #fff;
}
.bg-footer{
    background: rgba(255,255,255,.7);
}
.sub-footer-bg{
    background: #09121B;
}
/* end of footer */

/* start of loader */
.loader-wrapper{
    width: 100٪;
    height: 100%;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.loader{
    height: 45px;
    width: 45px;
    position: relative;
    animation: rotate .75s ease-in-out 0s infinite;
}
.loader span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    animation: anim 1.5s 0s ease-in-out infinite;
}
.loader span:nth-child(1){
    background: #00a7ce;
    z-index: 10;
}
.loader span:nth-child(2){
    background: #72c45a;
    transform: translate(25px,0);
}
.loader span:nth-child(3){
    background: #f963a3;
    transform: translate(0,25px);
}
.loader span:nth-child(4){
    background: #ffd15d;
    transform: translate(25px,25px);
}
@keyframes anim {
    50%,60%{
        transform:scale(1.2) translate(12.5px,12.5px);
    }
}
@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}
/* end of loader */

@media all and (min-width: 575.98) and (max-width: 200px) {
}
@media all and (min-width: 767.98) and (max-width: 576px){

}
@media all and (min-width: 991.99) and (max-width: 768px) {
}
@media all and (min-width: 1199) and (max-width: 992px){

}

@media all and (min-width: 1366) and (max-width: 1200) {

}
/* style of category page */
/* styles of slider */
.carousel-indicators li{
    border-radius: 50%;
    width: 12px;
    height: 12px;
}
/* end of slider */

/* styles of sidebar */
.font-right-banner{
    font-size: 13px;
    background:#38a7bb ;
    color: #fff;
}
.category-searh{
    position: relative;
}
.category-searh input{
    width: 95%;
    height: 35px;
    padding: 0 20px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    outline: none;
}
.category-searh button{
    position: absolute;
    bottom: 3px;
    left: 20px;
    border-radius: 50%;
    transform: rotate(90deg);
    background: transparent;
    border: none;
}
.category-searh button .fa{
    color: #636e72;
}
.accordion .title{
    font-size: 11px;
    font-weight: bold;
    color: #195a8e;
    cursor: pointer;
    border-top: 1px solid #d9d9d9;
}
.title .icon{
    font-size:x-large;
    cursor: pointer;
    transform: rotate(45deg);
    padding-right: 15px!important;
}
.accordion.active .title .icon{
    transform: rotate(90deg);
}
.scrollbar{
    overflow-y: scroll;
    max-height: 130px;
    margin-left: 28px;
    transition: all .5s;
}
#scroll-category {
    overflow-y: scroll;
    scrollbar-color: #38a7bb;
    scrollbar-width: thin !important;
}
#scroll-category::-webkit-scrollbar{
    background:#c8d6e5;
    padding-bottom: 10px;
    width: 8px;
    border-radius: 6px;
}
#scroll-category::-webkit-scrollbar-thumb{
    background: #38a7bb ;
    border-radius: 6px;
}
.content{
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all .5s;
}
.accordion-font{
    font-size: 12px;
    color: #195a8e;
}
.accordion.active .content{
    opacity: 1;
    max-height: 130px;
}
.accordion ul li:hover{
    background: #c8d6e5;
}
.accordion.active .scrollbar{
    max-height: 130px;
    transition: all .4s;
}
/* end of sidebar */

/* styles of sale-timeout */
#amazing-suggest{
    height: 50px;
    position: absolute;
    top: 0;
    right: -5px;
    background:#38a7bb;
    padding: 15px;
    line-height: 20px;
    color: #fff;
    margin-top: 15px;
    z-index: 10;
}
#amazing-suggest:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -25px;
    transform: skew(-42deg,0deg);
    -webkit-transform:skew(-42deg,0deg) ;
    -moz-transform: skew(-42deg,0deg);
    -o-transform: skew(-42deg,0deg);
    z-index: -1;
    background: inherit;
}
#amazing-suggest:after{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: -5px;
    border-top: 5px solid transparent;
    border-left:5px solid  #418fbc ;
    z-index: -2;
}
#sale-timeout{
    background: #fff;
}
#sale-timeout h3{
    font-size: 20px;
    color: #1b3240;
}
#sale-timeout span{
    font-size: 14px;
    display: flex;
    justify-content: center;
    color: #38a7bb;
}
.sale-timeout-counter{
    display: flex;
    justify-content: center;
}
.sale-timeout-content button a{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}
.sale-timeout-content button{
    width: 205px;
    height: 50px;
    line-height: 45px;
    background: #1b3240;
    margin: 10px 5px;
    border: 1px solid #1b3240;
}
#sale-timeout .sale-timeout-content .sale-timeout-counter>div{
    width: 60px;
    background: #1b3240;
    float: right;
    line-height: 10px;
    color: #fff;
    display: inline-table;
    padding: 15px 10px;
    margin: 25px 5px;
    text-align: center;
    font-size: 14px;
}
#sale-timeout .sale-timeout-content .sale-timeout-counter div:last-child{
    display: none;
}
/* end of sale-timeout */

/* styles of ads-product-1 */
.ads-product-1 .ads-product-1-item img{
    height: 180px;
}
.ads-product-1-item{
    height: 180px;
    position: relative;
}
.ads-product-1-item:hover img{
    transform: scale(1.02);
    transition: all 400ms;
}
.ads-product-1-item .text{
    text-align: center!important;
    position: absolute;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    background: rgba(56,167,187,.6);
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    color: #000!important;
}
.ads-product-1-item:hover .text{
    transform: scale(1.02);
    transition: all 400ms;
}
/* end of ads-product-1 */

/* styles of ads-product-2 */
.ads-product-2 .ads-product-2-item img{
    height: 180px;
}
.ads-product-2-item{
    height: 180px;
    position: relative;
}
.ads-product-2-item:hover img{
    transform: scale(1.02);
    transition: all 400ms;
}
.ads-product-2-item .text{
    text-align: center!important;
    position: absolute;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    background:rgba(56,167,187,.6);
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    color: #000;
}
.ads-product-2-item:hover .text{
    transform: scale(1.02);
    transition: all 400ms;
}
/* end of ads-product-2 */

/* styles of ads-product-3 */
.ads-product-3 .ads-product-3-item img{
    height: 180px;
}
.ads-product-3-item{
    height: 180px;
    position: relative;
}
.ads-product-3-item:hover img{
    transform: scale(1.02);
    transition: all 400ms;
}
.ads-product-3-item .text{
    text-align: center!important;
    position: absolute;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    background: rgba(56,167,187,.6);
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    color: #000;
}
.ads-product-3-item:hover .text{
    transform: scale(1.02);
    transition: all 400ms;
}
/* end of ads-product-3 */

/* styles of best-seller */
.title-best-seller{
    position: relative;
}
.title-best-seller h6{
    color:#38a7bb ;
}
.line{
    width: 160px;
    background: #38a7bb;
    height: 1px;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%, -8px);
}
.best-seller{
    box-shadow: 0 0 6px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,.1);
    -o-box-shadow: 0 0 6px rgba(0,0,0,.1);
}
.best-seller .best-seller-item{
    box-shadow: 0 0 6px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,.1);
    -o-box-shadow: 0 0 6px rgba(0,0,0,.1);
    border-right: 1px solid #fafafa;
    border-bottom: 1px solid #fafafa;
}
.best-seller .best-seller-item img{
    width: 90%;
}
.best-seller .best-seller-item .text{
    font-size: 13px;
    color: #000;
}
.best-seller .best-seller-item .text a{
    background:#38a7bb ;
    margin-top: 10px;
}
.best-seller .best-seller-item .text .btn::focus{
    outline: none;
}
.best-seller .best-seller-item .text .price{
    color:#38a7bb;
}
/* end of best-seller */

/* start of sidebar / category_1 */
.accordion .content input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #38a7bb;
    width: 15px;
    height: 15px;
    border-radius: 15px;
}
.accordion .content input[type=range]::-moz-range-thumb{
    -webkit-appearance: none;
    background: #38a7bb;
    width: 15px;
    height: 15px;
    border-radius: 15px;
}
.ios-switch{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ios-switch .switch-body{
    width: 48px;
    border: 1px solid #eee;
    background: #ddd;
    border-radius: 20px;
    margin-right: 10px;
}
.ios-switch .switch-body .toggle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    float: left;
    transition: all .4s ease;
    cursor: pointer;
}
.ios-switch.active .switch-body{
    background: #38a7bb;
    transition: all .4s ease;
}
.ios-switch.active .switch-body .toggle{
    transform: translateX(135%);
}
.ios-switch input[type=checkbox]{
    display: none;
}
.ios-switch label{
    font-size: 13px;
    color: #195a8e;
    font-weight: bold;
    margin-right: 10px;
}
/* end of sidebar / category_1 */

/* styles of content of category_1 */
.sort{
    color: #cecece;
    font-size: 28px;
}
.text-sort{
    color: #3b3b3b;
    font-size: 12px;
    line-height: 24px;
}
.nav-pills .nav-item .nav-link{
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
    vertical-align: middle;
    border-radius: 5px;
    color: #195a8e;
    background: transparent;
}
.box-nav-pills .nav-container{
    border-top: 2px solid #d3d9df;
}
.nav-pills .nav-item .nav-link:hover{
    background: #d3d9df;
}
.box-nav-pills-container .title{
    color: #195a8e;
}
.box-nav-pills-container .title button{
    background: #d3d9df;
}
.box-nav-pills-container .title button:focus{
    outline: 0;
    box-shadow: none;
}
.font-price{
    font-size: 13px;
}
.product-box a{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.full-product-box{
    border-right: 1px solid #fafafa;
    border-bottom: 1px solid #fafafa;
}
.full-product-box .product-box p{
    font-size: 12px;
    font-weight: bold;
    padding: 0 5px;
    color: #195a8e;
}
.full-product-box .product-box form .form-group input{
    width: 10%;
}
.full-product-box .product-box .product-box-footer{
    padding: 0 20px;
}

.full-product-box .product-box .product-box-footer .add-to-card{
    width: 100%;
    height: 25px;
    line-height: 25px;
    float: left;
    background: #38a7bb;
    color: #fff;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: 11px;
}
.full-product-box .product-box .product-box-footer form input{
    width: 100%;
    float: right;
    height: 23px;
    padding: 2px;
    border-radius: 0;
    font-size: 11px;
}
.full-product-box .product-box .product-box-footer form input::focus{
    outline: none;
}
.product-box:hover{
    background: rgba(223,242,247);
    transition: all .4s;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance:"Always Show Up/Down Arrows";
    opacity: 1;
}
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}
/* end of content of category_1 */

/* styles of breadcrumb */
.breadcrumb .breadcrumb-item a{
    font-size: 11px;
    color: #195a8e;
}
.breadcrumb .breadcrumb-item.active{
    font-size: 11px;
}
.breadcrumb .divider{
    font-size: 14px;
    color: #ced6e0;
    padding: 5px;
}
nav ol{
    background: transparent;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #195a8e;
}
/* end of breadcrumb */

/* start product */
.detail-product figure img{
    border-bottom: 1px solid #195a8e;
}
.detail-product .title-product{
    font-size: 20px;
    font-weight: bold;
}
.detail-product .score-product{
    display: flex;
    align-items: center;
}
.detail-product .score-product i{
    color: #eee;
    font-size: 20px;
}
.detail-product .text-score{
    font-size: 13px;
}
.detail-product .sub-title-product{
    font-family: sans-serif;
    font-size: 14px;
}
.category-product,.brand-product,.seller,.price-product,.garuntee,.product-id,.related-product{
    font-size: 12px;
    font-weight: bold;
    color: #195a8e;
}
.text-product{
    font-size: 14px;
}
.detail-product .detail-product-footer .add-to-card{
    width: 100%;
    height: 35px;
    line-height: 35px;
    float: left;
    background: #38a7bb;
    color: #fff;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}
.detail-product .detail-product-footer input{
    height: 35px;
}
.related-product{
    border-bottom: 1px solid #195a8e;
    width: 98%;
    margin: 0 auto;
}
.product-slider .owl-nav .owl-prev{
    position: absolute;
    background: transparent;
    bottom: 170px;
    right: 0;
    box-sizing: border-box;
}
.product-slider .owl-nav .owl-next{
    position: absolute;
    background: transparent;
    bottom: 170px;
    left: 0;
    box-sizing: border-box;
}
/* end product */
.box-tabs .nav-link.active{
    background: #38a7bb;
    color: #fff;
}
.box-tabs .nav-item a{
    font-size: 14px;
    color: #195a8e;
}
.tab-content-box{
    border-top: 3px solid #38a7bb;
}
.tab-content-box .box-content-text{
    font-size: 14px;
    margin: 6px;
}
.box-tabs .nav-item .nav-link{
    border-bottom:0;
}
.tab-content-box .text-box{
    font-size: 14px;
    color: #195a8e;
}
.tab-content-box .sub-text-box{
    font-size: 12px;
    color: #195a8e;
}
@media screen and (max-width: 577px)  {
    .tab-content-box form .custom-form{
        width: 10px;
    }

}
@media screen and (max-width: 577px)  {
    .tab-content-box .text-box{
        font-size: 11px;
    }
}
.tab-content-box .text-box-line{
    border-bottom: 1px solid #195a8e;
    font-size: 14px;
    color: #195a8e;
}
.box-message{
    font-size: 12px;
    color: #195a8e;
    font-weight: bold;
}
.box-message i{
    vertical-align: -4px;
    font-size: 16px;
    color: #195a8e;
    font-weight: bold;
}
.tab-content-box .box-seller i{
    vertical-align: -4px;
    font-size: 16px;
    color: #195a8e;
    font-weight: bold;
}
.tab-content-box .box-message-dislike{
    height: 35px;
}
.tab-content-box .box-message-dislike i{
    vertical-align: -4px;
    font-size: 16px;
    color: #195a8e;
    font-weight: bold;
}
.tab-content-box .comment-header{
    border-bottom: 1px solid #195a8e;
}
.btn-yes,.btn-no{
    font-size: 9px;
}
.add-comment i{
    font-size: 16px;
    font-weight: bold;
    vertical-align: -4px;
}
.buttons a{
    font-size: 10px;
}
.buttons i{
    font-size: 11px;
    vertical-align: -2px;
    color: #195a8e;
}
/* styles of rent page */
.title-content .breadcrumb{
    background: #fff;
    border-radius: 0;
    font-size: 12px;
    color: #195a8e;
    border: 0;
}
.title-content .breadcrumb a{
    font-size: 12px;
    color: #195a8e;
    line-height: 35px;
}
.title-content .breadcrumb span{
    line-height: 25px;
}
.advertise-box{
    width: 150px;
    height: 150px;
    cursor: pointer;
}
.advertise-box p{
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}
.book-title{
    font-size: 14px;
    color: #195a8e;
}
.book-info{
    font-size: 12px;
    color: #195a8e;
}
.book-info .add-book{
    font-size: 12px;
}
.pages-number:hover{
   background: #fff;
}
/* styles of detail-rent-book */
.main-content{
    border: 1px solid #d7dae2;
    border-radius: 3px;
    width: 95%;
    margin: 0 auto;
}
.rent-box-inner{
    border: 1px solid #d7dae2;
    width: 95%;
    margin: 0 auto;
    border-radius: 3px;
}
.date-picker-wrapper{
    border: 1px solid #ced4da;
    width: 95%;
    margin: 0 auto;
    border-radius: 3px;
    display: flex;
}
.date-picker-wrapper .input{
    display: contents;
}
.date-picker-wrapper .input input{
    border: 0;
    text-align: center;
    width: 47%;
}
.date-picker-wrapper span{
    width: 20px;
    background:#dfe6e9;
    height: 20px;
    margin: auto 0;
    text-align: center;
    font-size: 12px;
}
.calculate-price button{
    width: 95%;
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
}
.description{
    width: 95%;
    margin: 0 auto;
    border: 1px solid #d7dae2;
    border-radius: 3px;

}
.description ul li{
    line-height: 2;
    font-size: 12px;
}
.text-tab{
    color: #195a8e;
}
.description .nav-tabs{
    border-color:#38a7bb ;
}
.description .nav .nav-item .nav-link.active{
    background: #38a7bb;
    color: #fff;
}
.tab-pane i{
    vertical-align: -4px;
    font-size: 14px;
    color: #777;
}
.related-book{
    margin: 0 auto;
    font-size: 14px;
    border-bottom: 1px solid #195a8e;
    width: 97%;
    margin: 0 auto;
    color: #195a8e;
    font-weight: bold;
}
.related-book .owl-nav .owl-prev {
    position: absolute;
    right: 0;
    bottom: 130px;
}
.related-book .owl-nav .owl-next{
    position: absolute;
    left: 0;
    bottom: 130px;
}
.sale-timeout-content button{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
/* styles of track-order */
.page-content-wrapper{
    border: 1px solid #38a7bb;
    position: relative;
}
.page-content-wrapper .title{
    font-size: 14px;
    padding: 0 10px;
    background: #38a7bb;
    line-height: 35px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translate(-50%, 0px);
}
.page-content-wrapper .text{
    font-size: 14px;
}
.page-content-wrapper form input{
    width: 40%;
    height: 35px;
    border-radius: 0;
    display: flex;
    margin: 0 auto;
}
.page-content-wrapper form input:focus{
    outline: 0;
    box-shadow: none;
}
.page-content-wrapper button{
    width: 40%;
    background: #38a7bb;
    border: 0;
    line-height: 35px;
    color: #fff;
    font-size: 14px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}